@media only screen and (min-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    section.main {
        width: 100%;
        height: auto;
        position: relative;
    }

    /************************ Start of header     ******************************************/
    section.header {
        width: 100%;
        height: 140px;

    }

    /*****  Header 1/2  ******/
    section.header > section.menuTop {
        width: 100%;
        height: 50px;
        background-color: #00a2e8;
        display: flex;
    }

    section.header > section.menuTop > section:nth-of-type(1) {
        width: 30%;
        height: inherit;
        display: flex;
        align-items: center;
        text-align: center;
    }

    section.header > section.menuTop > section:nth-of-type(1) > div:nth-of-type(1) {
        width: 50%;
        height: inherit;
        line-height: 50px;
        text-align: end;
        color: white;

    }

    section.header > section.menuTop > section:nth-of-type(1) > div:nth-of-type(1) > img {
        vertical-align: sub;
    }

    section.header > section.menuTop > section:nth-of-type(1) > div:nth-of-type(2) {
        width: 60%;
        height: inherit;
        line-height: 50px;
        color: white;
        margin-left: 15px;

    }

    /*****  ENd  Header 1/2  ******/
    section.header > section.menuTop > section:nth-of-type(2) {
        width: 70%;
        height: 50px;
    }

    section.header > section.menuTop > section:nth-of-type(2) > ul {
        list-style: none;
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: flex-end;

    }

    section.header > section.menuTop > section:nth-of-type(2) > ul > li {
        width: auto;
        height: auto;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 30px;
    }

    section.header > section.menuTop > section:nth-of-type(2) > ul > li:nth-of-type(5) {
        margin-right: 170px;
    }

    section.header > section.menuTop > section:nth-of-type(2) > ul > li > a {
        cursor: pointer;
        color: #ffff;
        transition: all 200ms linear;
    }

    section.header > section.menuTop > section:nth-of-type(2) > ul > li > a:hover {
        color: darkgray;
    }

    /*****  Start of  Header 2/2  ******   */
    section.header > section.menuBottom {
        width: 100%;
        height: 90px;
        background-color: #ffff;
        display: flex;
    }

    section.header > section.menuBottom > div:nth-of-type(1) {
        width: 20%;
        height: inherit;
        line-height: 90px;
        text-align: end;
    }

    section.header > section.menuBottom > div:nth-of-type(1) > h1 {
        font-size: 30px;
        font-family: "Myriad Pro";
        color: black;
    }

    section.header > section.menuBottom > div:nth-of-type(1) > h1::first-letter {
        color: #00a2e8;
    }

    section.header > section.menuBottom > div:nth-of-type(2) {
        width: 60%;
        height: inherit;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav {
        width: 100%;
        height: inherit;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav > ul {
        width: 100%;
        height: 90px;
        list-style: none;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 125px;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav > ul > li {
        width: auto;
        height: 90px;
        line-height: 45px;
        padding-right: 25px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav > ul > li > a {
        display: block;
        height: 45px;
        width: auto;
        color: black;
        font-weight: bold;
        font-size: 14px;
        transition: all 200ms linear;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav > ul > li > a:hover {
        background-color: lightgray;
    }

    section.header > section.menuBottom > div:nth-of-type(2) > nav > ul > li:nth-of-type(1) > a {
        color: #00a2e8;
    }

    section.header > section.menuBottom > div:nth-of-type(3) {
        width: 20%;
        height: inherit;
        display: flex;
    }

    section.header > section.menuBottom > div:nth-of-type(3) > div:nth-of-type(1) {
        width: auto;
        height: auto;
        line-height: 90px;
    }

    section.header > section.menuBottom > div:nth-of-type(3) > div:nth-of-type(2) {
        width: auto;
        height: auto;
        line-height: 99px;
        margin-left: 5px;
    }

    section.header > section.menuBottom > div:nth-of-type(3) > div:nth-of-type(2) > img {
        width: 25px;
        height: 25px;
    }

    /**********  End of header 2/2    ************/
    /********* Hidding menu bottom   ************/
    input#open {
        display: none;
    }

    label[for = open] {
        display: none;
    }

    input#close {
        display: none;
    }

    label[for = close] {
        display: none;
    }

    /********* Hidding menu bottom   ************/
    /************************ end of header     ******************************************/
    /********************************** Start of Swiper    *****************************************/
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 770px;
        object-fit: cover;
    }

    div.RoSwipper1 {
        width: 80%;
        position: absolute;
    }

    div.RoSwipper1 > span:nth-of-type(1) {
        color: white;
        font-size: 72px;
    }

    div.RoSwipper1 > span > span.Are {
        color: #00a2e8;
    }

    div.RoSwipper1 > span > span.best {
        color: #00a2e8;
    }

    div.RoSwipper1 > span:nth-of-type(2) {
        font-size: 17px;
        line-height: 40px;
        color: white;
    }

    /********************************** End of Swiper    *****************************************/
    /******************   Start of About us   ************************/
    section.aboutUS {
        width: 100%;
        height: 170px;
    }

    section.aboutUS > h1 {
        text-align: center;
        line-height: 170px;
        font-size: 72px;
    }

    section.aboutUS > h1 > span {
        color: #00a2e8;
    }

    section.about {
        width: 100%;
        height: 365px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    section.about > div {
        width: 20%;
        height: auto;
        padding-left: 10px;
    }

    section.about > div:nth-of-type(1) {
        text-align: center;
    }

    section.about > div:nth-of-type(1) > span {
        display: block;
        font-size: 75px;
        box-sizing: border-box;
        padding-bottom: 35px;
        color: #555252;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(1) > p {
        box-sizing: border-box;
        padding-top: 15px;
        line-height: 25px;
        color: #555252;
    }


    section.about > div:nth-of-type(1) > h3 {
        color: #555252;
        transition: all 300ms linear;


    }

    section.about > div:nth-of-type(2) {
        text-align: center;
        color: #555252;
    }

    section.about > div:nth-of-type(2) > span {
        display: block;
        font-size: 75px;
        box-sizing: border-box;
        padding-bottom: 35px;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(2) > h3 {
        color: #555252;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(2) > p {
        box-sizing: border-box;
        padding-top: 15px;
        line-height: 25px;
        color: #555252;
    }

    section.about > div:nth-of-type(3) {
        text-align: center;
        color: #555252;
    }

    section.about > div:nth-of-type(3) > span {
        display: block;
        font-size: 75px;
        box-sizing: border-box;
        padding-bottom: 35px;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(3) > h3 {
        color: #555252;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(3) > p {
        box-sizing: border-box;
        padding-top: 15px;
        line-height: 25px;
        color: #555252;
    }

    section.about > div:nth-of-type(4) {
        text-align: center;
        color: #555252;
    }

    section.about > div:nth-of-type(4) > span {
        display: block;
        font-size: 75px;
        box-sizing: border-box;
        padding-bottom: 35px;
        transition: all 300ms linear;
    }

    section.about > div:nth-of-type(4) > h3 {
        color: #555252;
        transition: all 300ms linear;

    }

    section.about > div:nth-of-type(4) > p {
        box-sizing: border-box;
        padding-top: 15px;
        line-height: 25px;
        color: #555252;
    }

    section.about > div:nth-of-type(1) > span:hover, section.about > div:nth-of-type(2) > span:hover, section.about > div:nth-of-type(3) > span:hover, section.about > div:nth-of-type(4) > span:hover, section.about > div:nth-of-type(1) > h3:hover, section.about > div:nth-of-type(2) > h3:hover, section.about > div:nth-of-type(3) > h3:hover, section.about > div:nth-of-type(4) > h3:hover {
        color: #00a2e8;
        cursor: pointer;
    }


    /******************   End of About us   ************************/
    /********************* Start zire about us   *************************/
    section.matnZireAboutUs{
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;
        padding-top:60px;
    }
    section.matnZireAboutUs>h1{
        font-size: 72px;
    }
    section.matnZireAboutUs>h1>span{
        color: #00a2e8;
    }
    section.ZireAboutUs {
        width: 100%;
        height: 665px;
        background-image: url("../../images/Zire-About_US.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;

    }

    section.ZireAboutUs > h1 > span{
        color: #00a2e8;
    }
    section.ZireAboutUs>div{
        width: 20%;
        height: 325px;
        margin-left: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        margin-top: 250px;
        display: flex;
        align-items: flex-end;
    }
    section.ZireAboutUs>div:nth-of-type(1)>div:nth-of-type(1),section.ZireAboutUs>div:nth-of-type(2)>div:nth-of-type(1),section.ZireAboutUs>div:nth-of-type(3)>div:nth-of-type(1),section.ZireAboutUs>div:nth-of-type(4)>div:nth-of-type(1){
        width: 80%;
        height:45px;
        background-color:#35312e;
    }
    section.ZireAboutUs>div:nth-of-type(1)>div:nth-of-type(2),section.ZireAboutUs>div:nth-of-type(2)>div:nth-of-type(2),section.ZireAboutUs>div:nth-of-type(3)>div:nth-of-type(2),section.ZireAboutUs>div:nth-of-type(4)>div:nth-of-type(2){
        width: 20%;
        height: 45px;
        background-color: #948a85;

    }
    section.ZireAboutUs>div:nth-of-type(1)>div:nth-of-type(1)>span,section.ZireAboutUs>div:nth-of-type(2)>div:nth-of-type(1)>span,section.ZireAboutUs>div:nth-of-type(3)>div:nth-of-type(1)>span,section.ZireAboutUs>div:nth-of-type(4)>div:nth-of-type(1)>span{
        display: block;
        color: #ffff;
        font-size: 18px;
        padding-left: 20px;
        line-height: 45px;
    }
    section.ZireAboutUs>div:nth-of-type(1)>div:nth-of-type(2)>span,section.ZireAboutUs>div:nth-of-type(2)>div:nth-of-type(2)>span,section.ZireAboutUs>div:nth-of-type(3)>div:nth-of-type(2)>span,section.ZireAboutUs>div:nth-of-type(4)>div:nth-of-type(2)>span{
        color: #ffff;
        font-size: 18px;
        display: block;
        line-height: 45px;
        text-align: center;
    }

        /********** Start Hovering ********/
    /*section.ZireAboutUs>div:nth-of-type(1)>div:nth-of-type(3){*/
    /*    width: 230px;*/
    /*    height: 265px;*/
    /*    position: absolute;*/
    /*    top: 1702px;*/
    /*    left: 135px;*/
    /*    background-color: blueviolet;*/
    /*    opacity: 0;*/
    /*    transition: all 300ms linear;*/
    /*    cursor: pointer;*/
    /*}*/
    /*section.ZireAboutUs>div:nth-of-type(1):hover>div:nth-of-type(3){*/
    /*    opacity: 1;*/
    /*}*/
        /********** End Hovering ********/
        /********************* End zire about us   *************************/
        /******************** Start Of SaleUp    ******************************************/
    section.sale{
        width: 100%;
        height:310px;
        background-color: #00a2e8;
        display: flex;
        justify-content: center;
    }
    section.sale>div{
        width: 50%;
        height: auto;
        color: white;
        font-size: 60px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 100px;
    }
    section.sale>div>span{
        text-transform: capitalize;
        font-size:40px;
    }


        /******************** End Of SaleUp    ******************************************/
        /******************************* Start our products       *********************************/
    section.products{
        width: 100%;
        height: 980px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.products>img{
        width: 100%;
        height: inherit;
        object-fit: cover;
        filter: brightness(50%);
        position: absolute;
    }
    section.products>div{
        width: 375px;
        height: 470px;
        z-index: 1;
        background-color: white;
        margin-top: 200px;
        display: flex;
        position: relative;
        justify-content: center;
        cursor: pointer;
    }
    section.products>div:nth-of-type(2){
        margin-left: 25px;
        margin-right: 25px;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(1),section.products>div:nth-of-type(2)>div:nth-of-type(1),section.products>div:nth-of-type(3)>div:nth-of-type(1){
        width:90%;
        height: 390px;
        background-color:#706a6b;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        transition: all 300ms linear;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(1)>img,section.products>div:nth-of-type(2)>div:nth-of-type(1)>img,section.products>div:nth-of-type(3)>div:nth-of-type(1)>img {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid white;
        padding: 10px;
        margin-right: 10px;
    }

    section.products>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1),section.products>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1),section.products>div:nth-of-type(3)>div:nth-of-type(1)>div:nth-of-type(1){
        width: 160px;
        height: 50px;
        position: absolute;
        top: 240px;
        right: 111px;
        border: 1px solid white;
        display: flex;

    }
    section.products>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>span,section.products>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1)>span,section.products>div:nth-of-type(3)>div:nth-of-type(1)>div:nth-of-type(1)>span{
        line-height: 50px;
        color:white;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>img,section.products>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1)>img,section.products>div:nth-of-type(3)>div:nth-of-type(1)>div:nth-of-type(1)>img{
        width: 25px;
        display: inline-block;
        height: 25px;

        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*section.products>div:nth-of-type(1)>div:nth-of-type(1)>img:nth-of-type(4){*/
    /*    position: absolute;*/
    /*    top: 240px;*/
    /*    right: 216px;*/
    /*    */
    /*}*/
    section.products>div:nth-of-type(1)>div:nth-of-type(1):hover,section.products>div:nth-of-type(2)>div:nth-of-type(1):hover,section.products>div:nth-of-type(3)>div:nth-of-type(1):hover{
        opacity: 1;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(2),section.products>div:nth-of-type(2)>div:nth-of-type(2),section.products>div:nth-of-type(3)>div:nth-of-type(2){
        width: 80%;
        height:60px;
        background-color:#35312e;
        position: absolute;
        top: 410px;
        left: 0;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(3),section.products>div:nth-of-type(2)>div:nth-of-type(3),section.products>div:nth-of-type(3)>div:nth-of-type(3){
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        color: white;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(2)>span,section.products>div:nth-of-type(2)>div:nth-of-type(2)>span,section.products>div:nth-of-type(3)>div:nth-of-type(2)>span{
        display: block;
        font-size: 30px;
        color: white;
        box-sizing: border-box;
        padding-left: 20px;
        line-height: 60px;
    }
    section.products>div:nth-of-type(1)>div:nth-of-type(3),section.products>div:nth-of-type(2)>div:nth-of-type(3),section.products>div:nth-of-type(3)>div:nth-of-type(3){
        width: 20%;
        height:60px;
        background-color:#948a85;
        position: absolute;
        top: 410px;
        left: 80%;
    }
        /************ Start MAtn our products ***********/
    section.ourproducts{
        width: 100%;
        height: auto;
        font-size:60px;
        position: absolute;
        z-index: 1;
        margin-top: 200px;
    }
    section.ourproducts>h1{
        text-align: center;
    }
    section.ourproducts>h1>span{
        color: #00a2e8;
    }
        /************ End MAtn our products ***********/
        /******************************* End our products       *********************************/
        /*********************************** Start Customers rewie       ***************************/
    section.rew{
        width: 100%;
        height: 950px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.rew>div{
        width: 30%;
        height: 580px;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section.rew>div>p{
        text-align: center;
        color:#c6b8b1;
    }

    section.rew>div>img:nth-of-type(1){
        display: block;
        width:250px;
        height: 265px;
        object-fit: contain;
        padding-left: 75px;

    }
    section.rew>div>div{
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    section.rew>div>div>img:nth-of-type(1),section.rew>div>div>img:nth-of-type(2),section.rew>div>div>img:nth-of-type(3),section.rew>div>div>img:nth-of-type(4),section.rew>div>div>img:nth-of-type(5){
        display: inline-block;
        width: 25px;
        height: 25px;

    }

    section.rew>div>h3{
        color: #00a2e8;
        text-align: center;
        line-height: 50px;
    }
    section.rew>div>h4{
        font-size: 12px;
        text-align: center;
    }

    section.rew>div:nth-of-type(2){
        margin-left: 20px;
        margin-right: 20px;
    }


    /********* Start Cus review  *********/
    section.cus{
        width: 100%;
        height: auto;
        position: absolute;
        top:3470px;
    }
    section.cus>h2{
        text-align: center;
        font-size: 50px;
    }
    section.cus>h2>span{
        color: #00a2e8;
    }
        /********* End Cus review  *********/
        /*********************************** End Customers rewie       *****************************/
        /**********************  Start of ordering      ***********************************************/
    section.order{
        width: 100%;
        height: 935px;
        background-image: url("../../images/order-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color:#378cc4;
    }
    section.place{
        width: 100%;
        height:630px;
        display: flex;
        flex-direction: column;
    }
    section.place>div{
        width: 100%;
    }
    section.place>div:nth-of-type(1)>h1{
        font-size: 50px;
        color:#56504d;
        text-align: center;
        padding-top: 75px;
    }
    section.place>div:nth-of-type(1)>h1>span{
        color: #ffffff;
    }
    section.place>div:nth-of-type(2){
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    section.place>div:nth-of-type(2)>input{
        display: block;
        width: 545px;
        height: 60px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color:rgba(255,255,255,0.7);
    }
    section.place>div:nth-of-type(3){
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    section.place>div:nth-of-type(3)>input{
        display: block;
        width: 545px;
        height: 60px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color:rgba(255,255,255,0.9);
    }
    section.place>div:nth-of-type(4){
        width: 100%;
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    section.place>div:nth-of-type(4)>button{
        display: block;
        width:310px;
        height:90px;
        border-radius: 15px;
        background-color:#786960;
        font-size: 30px;
        font-weight: 800;
        color: white;
        cursor: pointer;
    }
        /************** Start of improve   *************/
    section.order>section.imp{
        width: 100%;
        height: 305px;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        flex-direction: column;
    }
    section.order>section.imp>div:nth-of-type(1){
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 88px;
    }
    section.order>section.imp>div:nth-of-type(1)>h1{
        font-size: 60px;
        color: white;
    }
    section.order>section.imp>div:nth-of-type(2){
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    section.order>section.imp>div:nth-of-type(2)>h1{
        font-size: 27px;
        color: white;
    }

        /************** End of improve   *************/
        /**********************  End of ordering      ***********************************************/

}